version: 2
updates:
- package-ecosystem: maven
  groups:
    fiks-deps:
      patterns:
      - "no.ks.fiks*"
      update-types:
      - "minor"
      - "patch"
    other-deps:
      patterns:
      - "*"
      exclude-patterns:
      - "no.ks.fiks*"
      update-types:
      - "minor"
      - "patch"
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
    timezone: Europe/Oslo
  open-pull-requests-limit: 15
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    # Check for updates to GitHub Actions every week
    interval: "daily"
